.antique-reading-time-heading-wrap {
    border: var(--antique-reading-time--heading--border);
    background-color: var(--antique-reading-time--heading--bg-color);
    color: var(--antique-reading-time--heading--font-color);
}

.antique-reading-time-content {
    padding: 10px 20px;
    border: var(--antique-reading-time--content--border);
    background-color: var(--antique-reading-time--content--bg-color);
    color: var(--antique-reading-time--content--font-color);
}